nav.aside-nav
	ul.aside-nav__list
		li.aside-nav__item: a.aside-nav__link(href="#") 
			.aside-nav__icon
				img(src="images/aside-nav/1.png", alt="")
			.aside-nav__label Спецпредложения
		li.aside-nav__item: a.aside-nav__link(href="#") 
			.aside-nav__icon
				img(src="images/aside-nav/2.png")
			.aside-nav__label Новые поступления
		li.aside-nav__item: a.aside-nav__link(href="#") 
			.aside-nav__icon
				img(src="images/aside-nav/3.png")
			.aside-nav__label Электронные компоненты
		li.aside-nav__item: a.aside-nav__link(href="#") 
			.aside-nav__icon
				img(src="images/aside-nav/4.png")
			.aside-nav__label Запчасти для бытовой техники
		li.aside-nav__item: a.aside-nav__link(href="#") 
			.aside-nav__icon
				img(src="images/aside-nav/5.png")
			.aside-nav__label Измерительное оборудование
		li.aside-nav__item: a.aside-nav__link(href="#") 
			.aside-nav__icon
				img(src="images/aside-nav/6.png")
			.aside-nav__label Индикация и светодиоды
		li.aside-nav__item: a.aside-nav__link(href="#") 
			.aside-nav__icon
				img(src="images/aside-nav/7.png")
			.aside-nav__label Инструмент
		li.aside-nav__item: a.aside-nav__link(href="#") 
			.aside-nav__icon
				img(src="images/aside-nav/8.png")
			.aside-nav__label Источники энергии
		li.aside-nav__item: a.aside-nav__link(href="#") 
			.aside-nav__icon
				img(src="images/aside-nav/9.png")
			.aside-nav__label Коммутационные изделия
		li.aside-nav__item: a.aside-nav__link(href="#") 
			.aside-nav__icon
				img(src="images/aside-nav/10.png")
			.aside-nav__label Компьютерное оборудование
		li.aside-nav__item: a.aside-nav__link(href="#") 
			.aside-nav__icon
				img(src="images/aside-nav/11.png")
			.aside-nav__label Оптоэлектроника
		li.aside-nav__item: a.aside-nav__link(href="#") 
			.aside-nav__icon
				img(src="images/aside-nav/12.png")
			.aside-nav__label Провода и кабели
		li.aside-nav__item: a.aside-nav__link(href="#") 
			.aside-nav__icon
				img(src="images/aside-nav/13.png")
			.aside-nav__label Промышленная автоматика
		li.aside-nav__item: a.aside-nav__link(href="#") 
			.aside-nav__icon
				img(src="images/aside-nav/14.png")
			.aside-nav__label Расходные материалы
		li.aside-nav__item: a.aside-nav__link(href="#") 
			.aside-nav__icon
				img(src="images/aside-nav/15.png")
			.aside-nav__label Резонаторы и фильтры
		li.aside-nav__item: a.aside-nav__link(href="#") 
			.aside-nav__icon
				img(src="images/aside-nav/16.png")
			.aside-nav__label Реле, Контакторы, Пускатели
		li.aside-nav__item: a.aside-nav__link(href="#") 
			.aside-nav__icon
				img(src="images/aside-nav/17.png")
			.aside-nav__label Системы безопасности
		li.aside-nav__item: a.aside-nav__link(href="#") 
			.aside-nav__icon
				img(src="images/aside-nav/18.png")
			.aside-nav__label Соединители
		li.aside-nav__item: a.aside-nav__link(href="#") 
			.aside-nav__icon
				img(src="images/aside-nav/19.png")
			.aside-nav__label Спутниковое ТВ
		li.aside-nav__item: a.aside-nav__link(href="#") 
			.aside-nav__icon
				img(src="images/aside-nav/20.png")
			.aside-nav__label Телефония
		li.aside-nav__item: a.aside-nav__link(href="#") 
			.aside-nav__icon
				//- img(src="images/aside-nav/.png")
			.aside-nav__label Терморегулирование
		li.aside-nav__item: a.aside-nav__link(href="#") 
			.aside-nav__icon
				img(src="images/aside-nav/21.png")
			.aside-nav__label Трансформаторы, Ферриты, Моточные изделия
		li.aside-nav__item: a.aside-nav__link(href="#") 
			.aside-nav__icon
				img(src="images/aside-nav/22.png")
			.aside-nav__label Упаковка
		li.aside-nav__item: a.aside-nav__link(href="#") 
			.aside-nav__icon
				img(src="images/aside-nav/23.png")
			.aside-nav__label Установочные изделия
		li.aside-nav__item: a.aside-nav__link(href="#") 
			.aside-nav__icon
				img(src="images/aside-nav/24.png")
			.aside-nav__label Устройства защиты
		li.aside-nav__item: a.aside-nav__link(href="#") 
			.aside-nav__icon
				img(src="images/aside-nav/25.png")
			.aside-nav__label Акустика
		li.aside-nav__item: a.aside-nav__link(href="#") 
			.aside-nav__icon
				img(src="images/aside-nav/26.png")
			.aside-nav__label Электротехника и Освещение
		li.aside-nav__item: a.aside-nav__link(href="#") 
			.aside-nav__icon
				img(src="images/aside-nav/+.png")
			.aside-nav__label Все категории 