.s-breadcrumbs
	.s-breadcrumbs__container
		nav.nav-breadcrumbs
			ul.nav-breadcrumbs__list
				li.nav-breadcrumbs__item
					a.nav-breadcrumbs__link(href="#") Главная
				li.nav-breadcrumbs__item
					a.nav-breadcrumbs__link(href="#") Каталог
				li.nav-breadcrumbs__item
					span.nav-breadcrumbs__link.nav-breadcrumbs__link_active Электронные компоненты