.s-catalog-category
	.container: .row
		.s-catalog-category__container
			.s-catalog-category__column.s-catalog-category__column_category
				.tree-category
					h3.tree-category__title Уточните категорию
					ul.tree-category__list
						li.tree-category__item
							a.tree-category__box(href="#tree-category-1" data-toggle="collapse")
							a.tree-category__link.text-dark.decor-dashed(href="#") Аналоговые и смешанные схемы
							span.tree-category__count (79)
							ul.tree-category__list.collapse#tree-category-1
								li.tree-category__item.tree-category__item_dot: a.tree-category__link(href="#") 1
								li.tree-category__item.tree-category__item_dot: a.tree-category__link(href="#") 2
								li.tree-category__item.tree-category__item_dot: a.tree-category__link(href="#") 3
							//- . 
						li.tree-category__item.text-blue
							a.tree-category__box(href="#tree-category-2" data-toggle="collapse")
							a.tree-category__link.decor-dashed(href="#") Интегральные схемы
							span.tree-category__count (1289)
							ul.tree-category__list.collapse.show#tree-category-2
								li.tree-category__item
									a.tree-category__box(href="#tree-category-2-1" data-toggle="collapse")
									a.tree-category__link(href="#") Аналоговые и смешанные схемы
									span.tree-category__count (77)
									ul.tree-category__list.collapse#tree-category-2-1
										li.tree-category__item.tree-category__item_dot: a.tree-category__link(href="#") 1
										li.tree-category__item.tree-category__item_dot: a.tree-category__link(href="#") 2
										li.tree-category__item.tree-category__item_dot: a.tree-category__link(href="#") 3
								li.tree-category__item.tree-category__item_dot
									a.tree-category__link(href="#") Интегральные логические схемы
									span.tree-category__count (78)
								li.tree-category__item.tree-category__item_dot.text-dark
									a.tree-category__link(href="#") Коммутаторы
									span.tree-category__count  (7)
								li.tree-category__item.tree-category__item_dot
									a.tree-category__link(href="#") Контроллеры
									span.tree-category__count  (81)
								li.tree-category__item.tree-category__item_dot
									a.tree-category__link(href="#") Микроконтроллеры
									span.tree-category__count  (4)
								li.tree-category__item.tree-category__item_dot
									a.tree-category__link(href="#") Микросхемы для бытовой РЭА
									span.tree-category__count  (34)
								li.tree-category__item.tree-category__item_dot
									a.tree-category__link(href="#") Многофункциональные
									span.tree-category__count  (2)
								li.tree-category__item
									a.tree-category__box(href="#tree-category-2-8" data-toggle="collapse")
									a.tree-category__link(href="#") Память 
									span.tree-category__count  (84)
									ul.tree-category__list#tree-category-2-8.collapse
										li.tree-category__item.tree-category__item_dot: a.tree-category__link(href="#") 1
										li.tree-category__item.tree-category__item_dot: a.tree-category__link(href="#") 2
										li.tree-category__item.tree-category__item_dot: a.tree-category__link(href="#") 3
								li.tree-category__item.tree-category__item_dot
									a.tree-category__link(href="#") Разное
									span.tree-category__count  (164)
								li.tree-category__item
									a.tree-category__box(href="#tree-category-2-10" data-toggle="collapse")
									a.tree-category__link(href="#") Регуляторы напряжения
									span.tree-category__count  (168)
									ul.tree-category__list#tree-category-2-10.collapse
										li.tree-category__item.tree-category__item: a.tree-category__link(href="#") 1
										li.tree-category__item.tree-category__item: a.tree-category__link(href="#") 2
										li.tree-category__item.tree-category__item: a.tree-category__link(href="#") 3
						
						li.tree-category__item
							a.tree-category__box(href="#tree-category-3" data-toggle="collapse")
							a.tree-category__link.decor-dashed(href="#") Пассивные компоненты
							span.tree-category__count (4425)
							ul.tree-category__list.collapse#tree-category-3
								li.tree-category__item.tree-category__item_dot: a.tree-category__link(href="#") 1
								li.tree-category__item.tree-category__item_dot: a.tree-category__link(href="#") 2
								li.tree-category__item.tree-category__item_dot: a.tree-category__link(href="#") 3
						li.tree-category__item
							a.tree-category__box(href="#tree-category-4" data-toggle="collapse")
							a.tree-category__link.decor-dashed(href="#") Полупроводники
							span.tree-category__count (1978)
							ul.tree-category__list.collapse#tree-category-4
								li.tree-category__item.tree-category__item_dot: a.tree-category__link(href="#") 1
								li.tree-category__item.tree-category__item_dot: a.tree-category__link(href="#") 2
								li.tree-category__item.tree-category__item_dot: a.tree-category__link(href="#") 3
						li.tree-category__item
							a.tree-category__box(href="#tree-category-5" data-toggle="collapse")
							a.tree-category__link.decor-dashed(href="#") Электровакуумные приборы
							span.tree-category__count (560)
							ul.tree-category__list.collapse#tree-category-5
								li.tree-category__item.tree-category__item_dot: a.tree-category__link(href="#") 1
								li.tree-category__item.tree-category__item_dot: a.tree-category__link(href="#") 2
								li.tree-category__item.tree-category__item_dot: a.tree-category__link(href="#") 3
			.s-catalog-category__column.s-catalog-category__column_main
				h2.h2.s-catalog-category__title Электронные компоненты
				.s-catalog-category__grid
					.s-catalog-category__cell
						.c-catalog-category
							.c-catalog-category__column.c-catalog-category__column_pr
								img.c-catalog-category__pr(src="images/catalog-category/1.jpg" width="48" height="48")
							.c-catalog-category__column.c-catalog-category__column_main
								.tree-category
									ul.tree-category__list
										li.tree-category__item
											a.tree-category__box(href="#main-tree-category-1" data-toggle="collapse")
											a.tree-category__link.text-dark.decor-dashed(href="#") Аналоговые и смешанные схемы
											span.tree-category__count (79)
										ul.tree-category__list.collapse#main-tree-category-1
											li.tree-category__item.tree-category__item_dot: a.tree-category__link(href="#") 1
											li.tree-category__item.tree-category__item_dot: a.tree-category__link(href="#") 2
											li.tree-category__item.tree-category__item_dot: a.tree-category__link(href="#") 3

					.s-catalog-category__cell
						.c-catalog-category
							.c-catalog-category__column.c-catalog-category__column_pr
								img.c-catalog-category__pr(src="images/catalog-category/2.jpg" width="48" height="48")
							.c-catalog-category__column.c-catalog-category__column_main
								.tree-category
									ul.tree-category__list
										li.tree-category__item
											a.tree-category__box(href="#main-tree-category-2" data-toggle="collapse")
											a.tree-category__link.text-dark.decor-dashed(href="#") Аналоговые и смешанные схемы
											span.tree-category__count (79)
										ul.tree-category__list.collapse#main-tree-category-2
											li.tree-category__item.tree-category__item_dot: a.tree-category__link(href="#") 1
											li.tree-category__item.tree-category__item_dot: a.tree-category__link(href="#") 2
											li.tree-category__item.tree-category__item_dot: a.tree-category__link(href="#") 3

					.s-catalog-category__cell
						.c-catalog-category
							.c-catalog-category__column.c-catalog-category__column_pr
								img.c-catalog-category__pr(src="images/catalog-category/3.jpg" width="48" height="48")
							.c-catalog-category__column.c-catalog-category__column_main
								.tree-category
									ul.tree-category__list
										li.tree-category__item
											a.tree-category__box(href="#main-tree-category-3" data-toggle="collapse")
											a.tree-category__link.text-dark.decor-dashed(href="#") Аналоговые и смешанные схемы
											span.tree-category__count (79)
										ul.tree-category__list.collapse#main-tree-category-3
											li.tree-category__item.tree-category__item_dot: a.tree-category__link(href="#") 1
											li.tree-category__item.tree-category__item_dot: a.tree-category__link(href="#") 2
											li.tree-category__item.tree-category__item_dot: a.tree-category__link(href="#") 3
								
					.s-catalog-category__cell
						.c-catalog-category
							.c-catalog-category__column.c-catalog-category__column_pr
								img.c-catalog-category__pr(src="images/catalog-category/4.jpg" width="48" height="48")
							.c-catalog-category__column.c-catalog-category__column_main
								.tree-category
									ul.tree-category__list
										li.tree-category__item
											a.tree-category__box(href="#main-tree-category-4" data-toggle="collapse")
											a.tree-category__link.text-dark.decor-dashed(href="#") Аналоговые и смешанные схемы
											span.tree-category__count (79)
										ul.tree-category__list.collapse#main-tree-category-4
											li.tree-category__item.tree-category__item_dot: a.tree-category__link(href="#") 1
											li.tree-category__item.tree-category__item_dot: a.tree-category__link(href="#") 2
											li.tree-category__item.tree-category__item_dot: a.tree-category__link(href="#") 3
								
					.s-catalog-category__cell
						.c-catalog-category
							.c-catalog-category__column.c-catalog-category__column_pr
								img.c-catalog-category__pr(src="images/catalog-category/5.jpg" width="48" height="48")
							.c-catalog-category__column.c-catalog-category__column_main
								.tree-category
									ul.tree-category__list
										li.tree-category__item
											a.tree-category__box(href="#main-tree-category-5" data-toggle="collapse")
											a.tree-category__link.text-dark.decor-dashed(href="#") Аналоговые и смешанные схемы
											span.tree-category__count (79)
										ul.tree-category__list.collapse#main-tree-category-5
											li.tree-category__item.tree-category__item_dot: a.tree-category__link(href="#") 1
											li.tree-category__item.tree-category__item_dot: a.tree-category__link(href="#") 2
											li.tree-category__item.tree-category__item_dot: a.tree-category__link(href="#") 3
								
					.s-catalog-category__cell
						.c-catalog-category
							.c-catalog-category__column.c-catalog-category__column_pr
								img.c-catalog-category__pr(src="images/catalog-category/6.jpg" width="48" height="48")
							.c-catalog-category__column.c-catalog-category__column_main
								.tree-category
									ul.tree-category__list
										li.tree-category__item
											a.tree-category__box(href="#main-tree-category-6" data-toggle="collapse")
											a.tree-category__link.text-dark.decor-dashed(href="#") Аналоговые и смешанные схемы
											span.tree-category__count (79)
										ul.tree-category__list.collapse#main-tree-category-6
											li.tree-category__item.tree-category__item_dot: a.tree-category__link(href="#") 1
											li.tree-category__item.tree-category__item_dot: a.tree-category__link(href="#") 2
											li.tree-category__item.tree-category__item_dot: a.tree-category__link(href="#") 3
								
					.s-catalog-category__cell
						.c-catalog-category
							.c-catalog-category__column.c-catalog-category__column_pr
								img.c-catalog-category__pr(src="images/catalog-category/7.jpg" width="48" height="48")
							.c-catalog-category__column.c-catalog-category__column_main
								.tree-category
									ul.tree-category__list
										li.tree-category__item
											a.tree-category__box(href="#main-tree-category-7" data-toggle="collapse")
											a.tree-category__link.text-dark.decor-dashed(href="#") Аналоговые и смешанные схемы
											span.tree-category__count (79)
										ul.tree-category__list.collapse#main-tree-category-7
											li.tree-category__item.tree-category__item_dot: a.tree-category__link(href="#") 1
											li.tree-category__item.tree-category__item_dot: a.tree-category__link(href="#") 2
											li.tree-category__item.tree-category__item_dot: a.tree-category__link(href="#") 3
								
					.s-catalog-category__cell
						.c-catalog-category
							.c-catalog-category__column.c-catalog-category__column_pr
								img.c-catalog-category__pr(src="images/catalog-category/8.jpg" width="48" height="48")
							.c-catalog-category__column.c-catalog-category__column_main
								.tree-category
									ul.tree-category__list
										li.tree-category__item
											a.tree-category__box(href="#main-tree-category-8" data-toggle="collapse")
											a.tree-category__link.text-dark.decor-dashed(href="#") Аналоговые и смешанные схемы
											span.tree-category__count (79)
										ul.tree-category__list.collapse#main-tree-category-8
											li.tree-category__item.tree-category__item_dot: a.tree-category__link(href="#") 1
											li.tree-category__item.tree-category__item_dot: a.tree-category__link(href="#") 2
											li.tree-category__item.tree-category__item_dot: a.tree-category__link(href="#") 3

