.s-conctact
	.s-contact__container
		.s-contact__column.s-contact__column_payments
			.s-contact__title Принимаем к оплате
			.contact-payments
				img.contact-payments__item(width="70" height="34" alt="" src="images/payments/visa.png")
				img.contact-payments__item(width="70" height="34" alt="" src="images/payments/mastercard.png")
				img.contact-payments__item(width="70" height="34" alt="" src="images/payments/yandexmoney.png")
				img.contact-payments__item(width="70" height="34" alt="" src="images/payments/sberbank.png")
				img.contact-payments__item(width="70" height="34" alt="" src="images/payments/qiwi.png")
		.s-contact__column.s-contact__column_social
			.s-contact__title IP Electronics в соцсетях
			.contact-social
				a.contact-social__item(href="#")
					img.contact-social__icon(src="images/social/vk.png")
				a.contact-social__item(href="#")
					img.contact-social__icon(src="images/social/fb.png")
				a.contact-social__item(href="#")
					img.contact-social__icon(src="images/social/tw.png")
		.s-contact__column.s-contact__column_contact
			.s-contact__title Связь с нами
			.contact-contact
				.contact-contact__line
					.contact-contact__icon.fa.fa-phone
					.contact-contact__label 8-800-100-90-86
				.contact-contact__line.contact-contact__line_mail
					.contact-contact__icon.fa.fa-envelope
					.contact-contact__label info@ippart.com
				a.contact-contact__more(href="#") все контакты