.s-customers-about
	.s-customers-about__container
		h2.h2.s-customers-about__title Клиенты о нас
		.s-customers-about__grid
			.s-customers-about__column
				.c-customers-about
					.c-customers-about__column.c-customers-about__column_pr
						img.c-customers-about__pr(src="images/customers-about/man.jpg" width="96" height="96" alt="")

					.c-customers-about__column.c-customers-about__column_desc
						.c-customers-about__name Дмитрий
						.c-customers-about__city Великий Новгород
						.c-customers-about__desc Весь необходимый товар в одном месте, заказал через интернет и после подтверждения комплектации забрал в магазине.
						.c-customers-about__rank.rank
							.rank__current
			.xs-hidden.s-customers-about__column
				.c-customers-about
					.c-customers-about__column.c-customers-about__column_pr
						img.c-customers-about__pr(src="images/customers-about/2.jpg" width="96" height="96" alt="")

					.c-customers-about__column.c-customers-about__column_desc
						.c-customers-about__name Дмитрий
						.c-customers-about__city Великий Новгород
						.c-customers-about__desc Весь необходимый товар в одном месте, заказал через интернет и после подтверждения комплектации забрал в магазине.
						.c-customers-about__rank.rank
							.rank__current
			.xs-hidden.sm-hidden.s-customers-about__column
				.c-customers-about
					.c-customers-about__column.c-customers-about__column_pr
						img.c-customers-about__pr(src="images/customers-about/girl.jpg" width="96" height="96" alt="")

					.c-customers-about__column.c-customers-about__column_desc
						.c-customers-about__name Оксана

						.c-customers-about__city Великий Новгород
						.c-customers-about__desc  Весь необходимый товар в одном месте, заказал через интернет и после подтверждения комплектации забрал в магазине.
						.c-customers-about__rank.rank
							.rank__current
		button.s-customers-about__button.button.button_theme_blue.button_size_sm все отзывы