footer.s-foo
			.s-foo__container
				.s-foo__nav
					nav.nav-foo
						.nav-foo__group
							h2.nav-foo__title Информация
							ul.nav-foo__list
								li.nav-foo__item: a.nav-foo__link(href="#") О компании
								li.nav-foo__item: a.nav-foo__link(href="#") Доставка и оплата
								li.nav-foo__item: a.nav-foo__link(href="#") Прайс-лист
								li.nav-foo__item: a.nav-foo__link(href="#") Купим (постоянно)
								li.nav-foo__item: a.nav-foo__link(href="#") Оплата QIWI
								li.nav-foo__item: a.nav-foo__link(href="#") Личный Кабинет
						.nav-foo__group
							h2.nav-foo__title Служба поддержки
							ul.nav-foo__list
								li.nav-foo__item: a.nav-foo__link(href="#") Связаться с нами
								li.nav-foo__item: a.nav-foo__link(href="#") Возврат товара
								li.nav-foo__item: a.nav-foo__link(href="#") Карта сайта
						.nav-foo__group
							h2.nav-foo__title Информация
							ul.nav-foo__list
								li.nav-foo__item: a.nav-foo__link(href="#") Производители (бренды)
								li.nav-foo__item: a.nav-foo__link(href="#") Подарочные сертификаты
								li.nav-foo__item: a.nav-foo__link(href="#") Партнёрская программа
								li.nav-foo__item: a.nav-foo__link(href="#") Акции и новости
						.nav-foo__group
							h2.nav-foo__title Личный кабинет
							ul.nav-foo__list
								li.nav-foo__item: a.nav-foo__link(href="#") Личный Кабинет
								li.nav-foo__item: a.nav-foo__link(href="#") История заказов
								li.nav-foo__item: a.nav-foo__link(href="#") Закладки
								li.nav-foo__item: a.nav-foo__link(href="#") Рассылка
				.s-foo__row
					.s-foo__column.s-foo__column_slogan
						.s-foo__slogan Приборы, Радиодетали и Электронные компоненты
					.s-foo__column.s-foo__column_copy
						.s-foo__copy © Ай-Пи Электроникс, 2002—2017
					.s-foo__column.s-foo__column_dev
						.foo-dev
							img.foo-dev__logo(src="images/art-gorka.png" width="60" height="53" alt="Логотип: Art gorka")
							.foo-dev__name Дизайн сайта – 
								a.foo-dev__link(href="#") студия ART горка