.s-last-news
	.s-last-news__container
		.s-last-news__column.s-last-news__column_news
			.s-last-news__row
				//- .s-last-news__cell.s-last-news__cell_pr
				.s-last-news__cell.s-last-news__cell_desc
					h2.h2.s-last-news__title.h2 ПОСЛЕДНИЕ НОВОСТИ

			.c-last-news.s-last-news__card
				.c-last-news__column.c-last-news__column_pr
					img(src="images/last-news/default.jpg", alt="" width="150" height="150")
				.c-last-news__column.c-last-news__column_desc
					a.c-last-news__title.text-blue(href="#") Wi-Fi решение для отладочных плат STM32 Nucleo на базе SWPF01SA
					.c-last-news__mark.text-blue
						span.fa.fa-star.c-last-news__star
						| Сроки акции: до 29 сентября
					.c-last-news__desc При покупке любого нового осциллографа серии MDO3000 или MDO4000C получите скидку 50% на следующие пакеты программных приложений: логический анализатор, генератор сигналов произвольной формы и стандартных функций, анализ и запуск по сигналам последовательных шин встраиваемых систем. Дата начала: 1 мая 2017. Дата окончания: 29 сентября 2017.
					.c-last-news__date 03.11.2017
			
			.c-last-news.s-last-news__card
				.c-last-news__column.c-last-news__column_pr
					img(src="images/last-news/1.jpg", alt="" width="150" height="150")
				.c-last-news__column.c-last-news__column_desc
						a.c-last-news__title(href="#") Счетчик импульсов СИ10
						.c-last-news__desc Цифровой счетчик импульсов СИ10 - это абсолютно простой счетчик, который не требует никаких дополнительных настроек. Необходимо только подключить датчик и подать питание на прибор. Отличительной особенностью этих счетчиков является повышенная устойчивость к различным видам электромагнитных помех. Такие счетчики способны работать и при отрицательных температурах до -20°С ...
						.c-last-news__date 11.07.2017
			.s-last-news__row
				.s-last-news__cell.s-last-news__cell_desc
					a.s-last-news__more(href="#")
						span.s-last-news__more-icon.fa.fa-list-ul
						| смотреть все новости
		.s-last-news__column.s-last-news__column_subscribe
			.c-subscribe: .c-subscribe__inner
				.c-subscribe__title Не пропусти важные новости
				.c-subscribe__slogan Подпишись на рассылку, получай свежую информацию по продажам, новостям, акциям
				input.c-subscribe__field.field-subscribe(placeholder="Укажите ваш email")
				.c-subscribe__topics
					label.c-subscribe__topic
						input.checkbox.c-subscribe__t-checkbox(type="checkbox" checked)
						.c-subscribe__t-label Распродажи
					label.c-subscribe__topic
						input.checkbox.c-subscribe__t-checkbox(type="checkbox")
						.c-subscribe__t-label Новости
					label.c-subscribe__topic
						input.checkbox.c-subscribe__t-checkbox(type="checkbox")
						.c-subscribe__t-label Закупки
				button.c-subscribe__button.button.button_theme_blue.button_size_sm подписаться
			.c-vk-widget
				img(src="images/widget.png", alt="" style="width: 100%; height: auto")