.s-last-news-2
	.s-last-news-2__container
		.s-last-news-2__column.s-last-news-2__column_news
			h2.h2.s-last-news-2__title ПОСЛЕДНИЕ НОВОСТИ
			.s-last-news-2__grid
				.s-last-news-2__card
					.c-last-news-2
						a.c-last-news-2__date(href="#") 27 июля 2017
						.c-last-news-2__desc Только в компании ippart, до 1 июля 2017 года, Вы можете бесплатно взять на тестирование уникальный датчик OPB9000. Спешите, количество наборов ограничено. Испытайте БЕСПЛАТНО демонстрационный набор.
				.s-last-news-2__card
					.c-last-news-2
						a.c-last-news-2__date(href="#") 27 июля 2017
						.c-last-news-2__desc Только в компании ippart, до 1 июля 2017 года, Вы можете бесплатно взять на тестирование уникальный датчик OPB9000. Спешите, количество наборов ограничено. Испытайте БЕСПЛАТНО демонстрационный набор.
			a.s-last-news__more(href="#")
				span.s-last-news__more-icon.fa.fa-list-ul
				| смотреть все новости
	
		.s-last-news-2__column.s-last-news-2__column_subscribe
			.c-subscribe-2: .c-subscribe-2__inner
				.c-subscribe-2__title Не пропусти важные новости
				.c-subscribe-2__slogan Подпишись на рассылку, получай свежую информацию по продажам, новостям, акциям
				input.c-subscribe-2__field.field-subscribe(placeholder="Укажите ваш email")
				button.c-subscribe-2__button.button.button_theme_blue.button_size_sm подписаться